.container {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
}

/*navbar styling*/

.navbar-container {

}

#navbar-hr {
  height: 10px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.4);
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  width: 200%;
  margin-left: -50%;
  margin-bottom: 0px;
}

.Symantec-logo {
  max-width: 100px;
  max-height: 50px;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/*registration form styling*/

.registration-form-container {
  padding-right: 20%;
  padding-left: 20%;
  width: 60%;
  padding-top: 10%;
  height: 80%;
  padding-bottom: 10%;
}

.registerNow {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 26.4px;
  margin-bottom: 5px;

}

.instructions {
  font-size: .8em;
}

.req {
  font-size: .6em;
  font-style: italic;
  margin: 3px;
}

.field-description {
  font-size: .7em;
}

.form-border {
  background-color: #F2F2F2;
  border: 1px solid lightgray;
}

.form-input {
  display: block;
  padding: .7em .7em .7em .7em;
  background-color: #F2F2F2;
  border-width: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.error-message {
  color:red;
}

/*checkbox*/

.checkbox-image {
  width: 15px;
  height: 15px;
  align: center;
  border:1px solid #D3D3D3;
  background-color: #007BAD;
}

#agree {
  padding: 10px;
}

/*buttons*/

.button-container {
  float: right;
  padding:0px 0px 0px 0px;
}

.button {
  background-color: #007BAD;
  color: #FFF;
  border: 1px solid blue;
  font-size: small;
  font-weight: 400;
  display: inline-block;
  width: 75px;
  height: 18px;
  text-align: center;
  margin: 3px;
  padding: .5em;
}

#cancel-button {
  margin: 0px 5px 0px 0px;
}

#register-button {
  margin: 0px 0px 0px 5px;
}

/*footer*/

#footer-container {
  height: 10%;
  font-size: .8em;
  text-align: center;
}


