<div class="registration-form-container">
  <div class="registerNow">Register Now!</div>
  <div class="instructions">Please fill out this form to register for an account.</div>
  <div class="req">All fields are required.</div>
  <br>

  <div class="field-description">{{ currentLanguage.first_name }}</div>
  <form>
      <div class="form-border">
        <input type="text" placeholder="First Name" ng-model="firstName" class="form-input">
        </input>
      </div>
  </form>
  <br>

  <div class="field-description">Last Name</div>
  <form>
      <div class="form-border">
        <input type="text" placeholder="Last Name" ng-model="firstName" class="form-input">
        </input>
      </div>
  </form>
  <br>

  <div class="field-description">Password</div>
  <form>
      <div class="form-border">
        <input type="text" placeholder="Password" ng-model="firstName" class="form-input">
        </input>
      </div>
  </form>
  <br>

  <div class="field-description">Country</div>
  <form>
      <div class="form-border">
        <input type="text" placeholder="USA" ng-model="firstName" class="form-input">
        </input>
      </div>
  </form>
  <br>

  <div class="field-description">Comments</div>
  <form>
      <div class="form-border">
        <input type="text" placeholder="Comments" ng-model="firstName" class="form-input">
        </input>
      </div>
  </form>
  <br>


  <label class="checkbox-border">
      <span id="checkbox">
          <input type='checkbox' />
      </span>
  </label>
      <span class="field-description" id="agree">I agree to the terms and conditions.
      </span>





  <br>
  <span class="button-container">
      <span class="button">Cancel</span>
      <span class="button">Register</span>
  </span>
</div>