<div>
  <div class="registerNow">{{ currentLanguage.register_now }}</div>
  <div class="instructions">{{ currentLanguage.please }}</div>
  <div class="req">{{ currentLanguage.required }}</div>
  <br>

  <div class="field-description">{{ currentLanguage.first_name }}</div>
  <form>
      <div class="form-border">
        <input type="text" placeholder="{{ currentLanguage.first_name }}" class="form-input">
        </input>
      </div>
  </form>
  <br>

  <div class="field-description">{{ currentLanguage.last_name }}</div>
  <form>
      <div class="form-border">
        <input type="text" placeholder="{{ currentLanguage.last_name }}" class="form-input">
        </input>
      </div>
  </form>
  <br>

  <div class="field-description">{{ currentLanguage.password }}</div>
  <form>
      <div class="form-border">
        <input type="text" placeholder="{{ currentLanguage.password }}" class="form-input">
        </input>
      </div>
  </form>
  <br>

  <div class="field-description">{{ currentLanguage.country }}</div>
  <form>
      <div class="form-border">
        <input type="text" placeholder="USA" class="form-input">
        </input>
      </div>
  </form>
  <br>

  <div class="field-description">{{ currentLanguage.comments }}</div>
  <form>
      <div class="form-border">
        <input type="text" placeholder="{{ currentLanguage.comments }}" class="form-input">
        </input>
      </div>
  </form>
  <br>


  <label class="checkbox-border" ng-click="switchcheck()">
        <span ng-if="checked"><image class="checkbox-image" src=images/checkbox.png ng-click="switchCheck()"></span>
        <span ng-if="!checked"><image class="checkbox-image" src=images/unchecked.png ng-click="switchCheck()"></span>
  </label>
      <span class="field-description" id="agree">{{ currentLanguage.terms }}
      </span>
  <br>
  <br>
  <div class="button-container">
      <span class="button" id="#cancel-button">{{ currentLanguage.comments }}</span>
      <span class="button" id="register-button">{{ currentLanguage.register }}</span>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>